* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 300vh;
  background: #111;
}

/* Espacio para generar scroll */
.spacer {
  height: 100vh;
}

/* Secci贸n que dispara la animaci贸n */
.animacion {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* transici贸n gif */
.gif {
  width: 100vw;
  height: 100vh; /* opcional, puedes usar 50vh si no quieres pantalla completa */

  background-image: url("imatges/transicion tinta.gif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  transform: translateX(-200px);
  opacity: 0;

  animation: mover linear both;
  animation-timeline: view();
  animation-range: entry 0% exit 100%;
}
/* Animaci贸n lineal */
@keyframes mover {
  from {
    transform: translateX(-200px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
